<!DOCTYPE html>
<html lang="en">
<%- include("./head") %>
<%- include("./Nav") %>

<body>
<div class="Details">
        <h1><%= Detail.title %> </h1>
 <h2> <%= Detail.snippet %> </h2>
 <p> <%=  Detail.post     %> </p> 
 <a class = "delete" data-doc="<%= Detail._id %>" >Delete</a> 
</div>
<script>
       const trash = document.querySelector("a.delete"); 
       trash.addEventListener('click', ()=>{
              const endpoint = `/blogs/${trash.dataset.doc}`;
              console.log(endpoint);
              fetch(endpoint, {method:"DELETE"})
              .then((resp)=> resp.json())
              .then((data) => window.location.href =data.redirect)
              .catch(err=> console.log(err));})
       
</script>









</body>
<%- include("./footer") %>
</html>